apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.name }}
data:
  IMAGES: "{{ .Values.configMap.images }}"
  DAEMONSET_NAME: "kubernetes-image-puller"
  CACHING_INTERVAL_HOURS: "{{ .Values.configMap.cachingIntervalHours }}"
  NAMESPACE: "{{ .Release.Namespace }}"
  CACHING_MEMORY_REQUEST: "{{ .Values.configMap.cachingMemoryRequest }}"
  CACHING_MEMORY_LIMIT: "{{ .Values.configMap.cachingMemoryLimit }}"
  CACHING_CPU_REQUEST: "{{ .Values.configMap.cachingCpuRequest }}"
  CACHING_CPU_LIMIT: "{{ .Values.configMap.cachingCpuLimit }}"
  NODE_SELECTOR: "{{ .Values.configMap.nodeSelector }}"
  IMAGE_PULL_SECRETS: "{{ .Values.configMap.imagePullSecrets }}"
  AFFINITY: "{{ .Values.configMap.affinity }}"
